[Desktop Entry]
Name=rpi-backlight
Exec=openplotter-backlight-gui
Icon=brightness-48
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;