Source: openplotter-settings
Section: misc
Priority: optional
Maintainer: Sailoog <info@sailoog.com>
Build-Depends: debhelper (>=9),dh-python,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/openplotter/openplotter-settings
X-Python3-Version: >= 3.2

Package: openplotter-settings
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, python3-wxgtk4.0, python3-ujson, python3-pyudev, vlc
Description: Main OpenPlotter app
 Main OpenPlotter app
